.grid-icon-container { grid-area: home; }
.grid-title-container { grid-area: title; }
.grid-image-container { grid-area: image; }
.grid-contact-containe { grid-area: contact; }

.Home-header {
  background-color: #282c34;
  min-height: 100vh;
  display: grid;
  grid-template-areas: 
  'home home home image'
  'title title title image'
  'contact contact contact image'
  ;
  font-size: calc(10px + 2vmin);
  color: white;
}

#home-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#home-icon-image {
  color: #553566;

}

.Home {
  text-align: center;
}
